<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.argwinterlab.navigator.db.dao.BusMapper">
    <sql id="getBusTemplate">
        <![CDATA[
            SELECT  TS.ID AS TRANSPORT_ID,
                    TS.WEIGHT AS TRANSPORT_WEIGHT,
                    TS.MODEL AS TRANSPORT_MODEL,
                    TS.NAME AS TRANSPORT_NAME,
                    B.LINE AS BUS_LINE
            FROM
                nav_db.TRANSPORTS TS
            LEFT JOIN
                nav_db.BUSES B
                    ON TS.ID = B.ID
        ]]>
    </sql>

    <select id="findById" resultMap="BusMap">
        <include refid="getBusTemplate"/>
        <![CDATA[
            WHERE TS.ID = #{id}
        ]]>
    </select>

    <select id="findByName" resultMap="BusMap">
        <include refid="getBusTemplate"/>
        <![CDATA[
            WHERE TS.NAME = #{name}
        ]]>
    </select>

    <select id="findAll" resultMap="BusMap">
        <include refid="getBusTemplate"/>
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
            BEGIN;
                 INSERT INTO nav_db.TRANSPORTS (WEIGHT, MODEL, NAME)
                 VALUES (
                     #{weight},
                     #{model},
                     #{name}
                 );
                 INSERT INTO nav_db.BUSES (ID, LINE)
                 VALUES (
                    LAST_INSERT_ID(),
                    #{line}
                 );
            COMMIT;
        ]]>
    </insert>

    <update id="updateById">
        <![CDATA[UPDATE
                    nav_db.TRANSPORTS
        ]]>
        <set>
            <if test="weight != null">
                <![CDATA[ WEIGHT = #{weight}, ]]>
            </if>
            <if test="model != null">
                <![CDATA[ MODEL = #{model}, ]]>
            </if>
            <if test="name != null">
                <![CDATA[ NAME = #{name} ]]>
            </if>
        </set>
        <![CDATA[
            WHERE ID = #{id}
        ]]>
    </update>

    <delete id="delete">
        <![CDATA[
            DELETE FROM nav_db.TRANSPORTS
            WHERE ID = #{id}
        ]]>
    </delete>

    <resultMap id="BusMap" autoMapping="false"
               type="Bus" extends="com.solvd.argwinterlab.navigator.db.dao.PathMapper.AbstractTransportMap">
        <result property="line" column="BUS_LINE"/>
    </resultMap>
</mapper>