<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="CityMapper">

	<resultMap id="resultCity" type="City">
		<id property="id" column="CITY_ID" />
		<result property="name" column="CITY_NAME" />

		<collection property="stations" column="CITY_ID"
			javaType="ArrayList" ofType="Station">
			<id property="id" column="STATION_ID" />
			<result property="name" column="STATION_NAME" />
			<result property="address" column="STATION_ADDRESS" />

			<collection property="paths" column="CITY_ID"
				javaType="ArrayList" ofType="Path">
				<id property="id" column="PATH_ID" />

				<association property="destiny" column="CITY_ID"
					javaType="Station">
					<id property="id" column="DESTINY_STATION_ID" />
					<result property="name" column="STATION_NAME" />
					<result property="address" column="STATION_ADDRESS" />
				</association>

				<collection property="transports" column="CITY_ID"
					javaType="ArrayList" ofType="AbstractTransport">
					<id property="id" column="TRANSPORT_ID" />
					<!-- <result property="name" column="TRANSPORT_NAME" /> -->
				</collection>

			</collection>
		</collection>

	</resultMap>


	<select id="selecCityCopado" resultMap="resultCity">
	 <![CDATA[
		SELECT
	C.ID AS CITY_ID, C.NAME AS CITY_NAME,
    S.ID AS STATION_ID, S.NAME AS STATION_NAME, S.ADDRESS AS STATION_ADDRESS,
    -- P.PATH_ID AS PATH_ID, P.PATH_ORIGIN_ID AS PATH_ORIGIN_ID, 
    P.PATH_DESTINY_ID AS DESTINY_STATION_ID,
    T.ID AS TRANSPORT_ID, T.NAME AS TRANSPORT_NAME, T.TRANSPORT_TYPE AS TRANSPORT_TYPE,
    S2.NAME AS DESTINY_STATION_NAME, S2.ADDRESS AS DESTINY_STATION_ADDRESS
FROM CITIES C
LEFT JOIN STATIONS S ON S.CITY_ID = C.ID
LEFT JOIN 
	(SELECT PATH_ID, PATH_ORIGIN_ID, PATH_DESTINY_ID
	FROM 
		(SELECT
			P1.ID AS PATH_ID, P1.ORIGIN_ID AS PATH_ORIGIN_ID, P1.DESTINY_ID AS PATH_DESTINY_ID
		FROM PATHS P1) PA
	UNION ALL
	SELECT PATH_ID, PATH_ORIGIN_ID, PATH_DESTINY_ID
	FROM
		(SELECT
			P2.ID AS PATH_ID, P2.ORIGIN_ID AS PATH_DESTINY_ID, P2.DESTINY_ID AS PATH_ORIGIN_ID
		FROM PATHS P2) PB) P ON P.PATH_ORIGIN_ID = S.ID
LEFT JOIN PATH_HAS_TRANSPORTS PT ON PT.PATH_ID = P.PATH_ID
LEFT JOIN TRANSPORTS T ON T.ID = PT.TRANSPORT_ID
LEFT JOIN STATIONS S2 ON P.PATH_DESTINY_ID = S2.ID;
		]]>
	</select>

</mapper>
