<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.argwinterlab.navigator.db.dao.CityMapper">
	
	<resultMap id="resultCity" type="City">
		<id property="id" column="CITY_ID" />
		<result property="name" column="CITY_NAME" />
		<collection property="stations"
					javaType="ArrayList"
					ofType="Station"
					select="om.solvd.argwinterlab.navigator.db.dao.StationMapper.findAllByCityId"/>
	</resultMap>

	<sql id="getCityTemplate">
		<![CDATA[
			SELECT
				C.ID AS CITY_ID, C.NAME AS CITY_NAME
			FROM CITIES C

		]]>
	</sql>

	<select id="findAll" resultMap="resultCity">
	 	<include refid="getCityTemplate"/>
	</select>

	<select id="findById" resultMap="resultCity">
		<include refid="getCityTemplate"/>
		<![CDATA[
			WHERE C.ID = #{id}
		]]>
	</select>
	<select id="findByName" resultMap="resultCity">
		<![CDATA[
			WHERE C.NAME = #{name}
		]]>
	</select>

    <insert id="save" keyProperty="id" useGeneratedKeys="true" flushCache="false">
        INSERT INTO nav_db.CITIES (NAME) VALUES (#{name})
    </insert>

</mapper>
