<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.argwinterlab.navigator.db.dao.IPath">
    <sql id="getPathTemplate">
        <![CDATA[
            SELECT  P.ID AS PATH_ID,
                    P.DESTINY_ID AS PATH_DESTINY_STATION_ID,
                    TE.ID AS TRANSPORT_ENTITY_ID,
                    TE.MODEL AS TRANSPORT_ENTITY_MODEL,
                    TE.WEIGHT AS TRANSPORT_ENTITY_WEIGHT,
                    TE.TRANSPORT_TYPE AS TRANSPORT_ENTITY_TYPE
            FROM
                dbName.PATHS P
            LEFT JOIN
                dbName.TRANSPORT_ENTITY TE
                    ON P.ID = TE.PATH_ID
        ]]>
    </sql>

    <select id="findById" resultMap="PathMap">
        <include refid="getPathTemplate"/>
        <![CDATA[
            WHERE TE.ID = #{id}
        ]]>
    </select>

    <select id="findAll" resultMap="BusMap">
        <include refid="getPathTemplate"/>
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[INSERT INTO dbName.PATHS (DESTINY_ID)
                 VALUES (
                     #{destinyId}
                 );
        ]]>
    </insert>

    <update id="updateById">
        <![CDATA[UPDATE
                    dbName.TRANSPORT_ENTITY
        ]]>
        <set>
            <if test="weight != null">
                <![CDATA[ WEIGHT = #{weight}, ]]>
            </if>
            <if test="model != null">
                <![CDATA[ MODEL = #{model}, ]]>
            </if>
        </set>
        <![CDATA[
            WHERE ID = #{id}
        ]]>
    </update>

    <delete id="delete">
        <![CDATA[
            DELETE FROM dbName.TRANSPORT_ENTITY
            WHERE ID = #{id}
        ]]>
    </delete>

    <resultMap id="TrainMap" autoMapping="false" type="Train">
        <id property="id" column="PATH_ID"/>
        <association property="destiny" resultMap="com.solvd.argwinterlab.navigator.db.dao.IStation.StationMap"/>
        <discriminator javaType="int" column="TRANSPORT_ENTITY_TYPE">
            <case value="1">
                <collection property="transportEntities" resultMap="com.solvd.argwinterlab.navigator.db.dao.ITaxi.TaxiMap"/>
            </case>
            <case value="2">
                <collection property="transportEntities" resultMap="com.solvd.argwinterlab.navigator.db.dao.ITrain.TrainMap"/>
            </case>
            <case value="3">
                <collection property="transportEntities" resultMap="com.solvd.argwinterlab.navigator.db.dao.IBus.BusMap"/>
            </case>
        </discriminator>
    </resultMap>
</mapper>