<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.argwinterlab.navigator.db.dao.PathMapper">
    <sql id="getPathTemplate">
        <![CDATA[
            SELECT
                PA.ID AS PATH_ID,
                PA.DESTINY_ID AS PATH_DESTINY_STATION_ID,
                TS.MODEL AS TRANSPORT_MODEL,
                TS.NAME AS TRANSPORT_NAME,
                TS.WEIGHT AS TRANSPORT_WEIGHT,
                TS.TRANSPORT_TYPE AS TRANSPORT_TYPE
            FROM
                nav_db.PATHS PA
            LEFT JOIN
                nav_db.PATH_has_TRANSPORTS PT
                    ON PA.ID = PT.PATH_ID
            LEFT JOIN
                nav_db.TRANSPORTS TS
                    ON TS.ID = PT.TRANSPORT_ID
        ]]>
    </sql>
    <sql id="doublePath">
        <![CDATA[
        SELECT P.PATH_ID AS PATH_ID, P.PATH_ORIGIN_ID AS PATH_ORIGIN_ID, P.PATH_DESTINY_ID AS PATH_DESTINY_ID
            FROM
                (SELECT
                    P4.*
                    FROM
                        (SELECT
                            P3.ID AS PATH_ID,
                            P3.ORIGIN_ID AS PATH_ORIGIN_ID,
                            P3.DESTINY_ID AS PATH_DESTINY_ID
                        FROM
                            PATHS AS P3
                        UNION ALL SELECT
                            P2.PATH_ID AS PATH_ID,
                            P2.PATH_ORIGIN_ID AS PATH_DESTINY_ID,
                            P2.PATH_DESTINY_ID AS PATH_ORIGIN_ID
                        FROM
                            (SELECT
                            P1.ID AS PATH_ID,
                            P1.ORIGIN_ID AS PATH_DESTINY_ID,
                            P1.DESTINY_ID AS PATH_ORIGIN_ID
                            FROM
                            PATHS AS P1) P2) P4) P
         ]]>
    </sql>

    <select id="findAllByStationId">
        <include refid="doublePath"/>
        <![CDATA[
            WHERE P.PATH_ORIGIN_ID = #{id}
        ]]>
    </select>

    <select id="findById" resultMap="PathMap">
        <include refid="getPathTemplate"/>
        <![CDATA[
            WHERE PA.ID = #{id}
        ]]>
    </select>

    <select id="findAll" resultMap="PathMap">
        <include refid="getPathTemplate"/>
    </select>


    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[INSERT INTO nav_db.PATHS (DESTINY_ID)
                 VALUES (
                     #{destinyId}
                 );
        ]]>
    </insert>

    <select id="getByStationId" resultMap="">
        SELECT *
        FROM PATHS WHERE DESTINY_ID = {id}
    </select>

    <update id="updateById">
        <![CDATA[UPDATE
                    nav_db.TRANSPORTS
        ]]>
        <set>
            <if test="weight != null">
                <![CDATA[ WEIGHT = #{weight}, ]]>
            </if>
            <if test="model != null">
                <![CDATA[ MODEL = #{model}, ]]>
            </if>
            <if test="name != null">
                <![CDATA[ NAME = #{name} ]]>
            </if>
        </set>
        <![CDATA[
            WHERE ID = #{id}
        ]]>
    </update>

    <delete id="delete">
        <![CDATA[
            DELETE FROM nav_db.TRANSPORTS
            WHERE ID = #{id}
        ]]>
    </delete>

    <resultMap id="PathMap" autoMapping="false" type="Path">
        <id property="id" column="PATH_ID"/>
        <association property="destiny"
                     column="PATH_DESTINY_STATION_ID"
                     javaType="Station"
                     select="com.solvd.argwinterlab.navigator.db.dao.StationMapper.findSimpleStationById"/>
        <discriminator javaType="int" column="TRANSPORT_TYPE">
            <case value="1">
                <collection property="transports"
                            ofType="AbstractTransport"
                            resultMap="com.solvd.argwinterlab.navigator.db.dao.TaxiMapper.TaxiMap"/>
            </case>
            <case value="2">
                <collection property="transports"
                            ofType="AbstractTransport"
                            resultMap="com.solvd.argwinterlab.navigator.db.dao.TrainMapper.TrainMap"/>
            </case>
            <case value="3">
                <collection property="transports"
                            ofType="AbstractTransport"
                            resultMap="com.solvd.argwinterlab.navigator.db.dao.BusMapper.BusMap"/>
            </case>
        </discriminator>
    </resultMap>
</mapper>