<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.argwinterlab.navigator.db.dao.StationMapper">
    <sql id="getStationTemplate">
        <![CDATA[
            SELECT  S.ID AS STATION_ID,
                    S.NAME AS STATION_NAME,
                    S.ADDRESS AS STATION_ADDRESS,
                    P.DESTINY_ID AS STATION_DESTINY_ID
            FROM
                nav_db.STATIONS S
            LEFT JOIN
                nav_db.PATHS P
                    ON S.ID = P.ORIGIN_ID
        ]]>
    </sql>

    <select id="findById" resultMap="StationMap">
        <include refid="getStationTemplate"/>
        <![CDATA[
            WHERE S.ID = #{id}
        ]]>
    </select>

    <select id="findSimpleStationById" resultMap="SimpleStationMap">
        <![CDATA[
            SELECT  ID AS STATION_ID,
                    NAME AS STATION_NAME,
                    ADDRESS AS STATION_ADDRESS
            FROM STATIONS
            WHERE ID = #{id}
        ]]>
    </select>

    <select id="findByName" resultMap="StationMap">
        <include refid="getStationTemplate"/>
        <![CDATA[
            WHERE TE.NAME = #{name}
        ]]>
    </select>

    <select id="findAll" resultMap="StationMap">
        <include refid="getStationTemplate"/>
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
                 INSERT INTO nav_db.STATIONS (NAME, ADDRESS)
                 VALUES (
                     #{name},
                     #{address}
                 );
        ]]>
    </insert>

    <update id="updateById">
        <![CDATA[UPDATE
                    nav_db.STATIONS
        ]]>
        <set>
            <if test="name != null">
                <![CDATA[ NAME = #{name}, ]]>
            </if>
            <if test="address != null">
                <![CDATA[ ADDRESS = #{address}, ]]>
            </if>
        </set>
        <![CDATA[
            WHERE ID = #{id}
        ]]>
    </update>

    <delete id="delete">
        <![CDATA[
            DELETE FROM nav_db.STATIONS
            WHERE ID = #{id}
        ]]>
    </delete>

    <resultMap id="StationMap" autoMapping="false" type="Station">
        <id property="id" column="STATION_ID"/>
        <result property="name" column="STATION_NAME"/>
        <result property="address" column="STATION_ADDRESS"/>
        <collection property="paths" ofType="Path" resultMap="com.solvd.argwinterlab.navigator.db.dao.PathMapper.PathMap"/>
    </resultMap>
    <resultMap id="SimpleStationMap" autoMapping="false" type="Station">
        <id property="id" column="STATION_ID"/>
        <result property="name" column="STATION_NAME"/>
        <result property="address" column="STATION_ADDRESS"/>
    </resultMap>
</mapper>