<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.argwinterlab.navigator.db.dao.TaxiMapper">
    <sql id="getTaxiTemplate">
        <![CDATA[
            SELECT  TS.ID AS TRANSPORT_ID,
                    TS.WEIGHT AS TRANSPORT_WEIGHT,
                    TS.MODEL AS TRANSPORT_MODEL,
                    TS.NAME AS TRANSPORT_NAME,
                    T.COMPANY AS TAXI_COMPANY
            FROM
                nav_db.TRANSPORTS TS
            LEFT JOIN
                nav_db.TAXIS T
                    ON TS.ID = T.ID
        ]]>
    </sql>

    <select id="findById" resultMap="TaxiMap">
        <include refid="getTaxiTemplate"/>
        <![CDATA[
            WHERE TE.ID = #{id}
        ]]>
    </select>

    <select id="findAll" resultMap="TaxiMap">
        <include refid="getTaxiTemplate"/>
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
            BEGIN;
                 INSERT INTO nav_db.TRANSPORTS (WEIGHT, MODEL, NAME, TRANSPORT_TYPE)
                 VALUES (
                     #{weight},
                     #{model},
                     #{name},
                     #{transportType}
                 );
                 INSERT INTO nav_db.TAXIS (ID, COMPANY)
                 VALUES (
                    LAST_INSERT_ID(),
                    #{company}
                 );
            COMMIT;
        ]]>
    </insert>

    <update id="updateById">
        <![CDATA[UPDATE
                    nav_db.TRANSPORT_ENTITY
        ]]>
        <set>
            <if test="weight != null">
                <![CDATA[ WEIGHT = #{weight}, ]]>
            </if>
            <if test="model != null">
                <![CDATA[ MODEL = #{model}, ]]>
            </if>
        </set>
        <![CDATA[
            WHERE ID = #{id}
        ]]>
    </update>

    <delete id="deleteById">
        <![CDATA[
            DELETE FROM nav_db.TRANSPORT_ENTITY
            WHERE ID = #{id}
        ]]>
    </delete>

    <resultMap id="TaxiMap" autoMapping="false" type="Taxi"
               extends="com.solvd.argwinterlab.navigator.db.dao.PathMapper.AbstractTransportMap">
        <result property="company" column="TAXI_COMPANY"/>
    </resultMap>
</mapper>