<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.argwinterlab.navigator.db.dao.TrainMapper">
    <sql id="getTrainTemplate">
        <![CDATA[
            SELECT  TS.ID AS TRAIN_ID,
                    TS.WEIGHT AS TRAIN_WEIGHT,
                    TS.MODEL AS TRAIN_MODEL,
                    TS.NAME AS TRAIN_NAME,
                    T.WAGONS_AMOUNT AS TRAIN_WAGONS
            FROM
                nav_db.TRANSPORTS TS
            LEFT JOIN
                nav_db.TRAINS T
                    ON TS.ID = T.TRANSPORT_ID
        ]]>
    </sql>

    <select id="findById" resultMap="TrainMap">
        <include refid="getTrainTemplate"/>
        <![CDATA[
            WHERE TS.ID = #{id}
        ]]>
    </select>

    <select id="findAll" resultMap="TrainMap">
        <include refid="getTrainTemplate"/>
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
            BEGIN;
                 INSERT INTO nav_db.TRANSPORTS (WEIGHT, MODEL, NAME)
                 VALUES (
                     #{name},
                     #{weight},
                     #{model}
                 );
                 INSERT INTO nav_db.TRAINS (ID, WAGONS_AMOUNT)
                 VALUES (
                    LAST_INSERT_ID(),
                    #{wagons}
                 );
            COMMIT;
        ]]>
    </insert>

    <update id="updateById">
        <![CDATA[UPDATE
                    nav_db.TRANSPORTS
        ]]>
        <set>
            <if test="weight != null">
                <![CDATA[ WEIGHT = #{weight}, ]]>
            </if>
            <if test="model != null">
                <![CDATA[ MODEL = #{model}, ]]>
            </if>
            <if test="name != null">
                <![CDATA[ NAME = #{name} ]]>
            </if>
        </set>
        <![CDATA[
            WHERE ID = #{id}
        ]]>
    </update>

    <delete id="delete">
        <![CDATA[
            DELETE FROM nav_db.TRANSPORTS
            WHERE ID = #{id}
        ]]>
    </delete>

    <resultMap id="TrainMap" autoMapping="false" type="Train">
        <id property="id" column="TRAIN_ID"/>
        <result property="model" column="TRAIN_MODEL"/>
        <result property="weight" column="TRAIN_WEIGHT"/>
        <result property="name" column="TRAIN_NAME"/>
        <result property="wagons" column="TRAIN_WAGONS"/>
    </resultMap>
</mapper>